@import '/src/assets/styles/color-variables.scss';

$duration-animation: 0.5s;

.proyect-card {
  // background-color: white;
  max-width: 300px;
  height: 280px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px 20px 18px 18px;
  -webkit-box-shadow: 0px 0px 0px 2px $color-blue-dark;
  -moz-box-shadow: 0px 0px 0px 2px $color-blue-dark;
  box-shadow: 0px 0px 0px 2px $color-blue-dark;

  img {
    position: absolute;
    height: 280px;
    width: 300px;
    border-radius: 18px;
  }

  .proyect-information {
    position: relative;
    display: inherit;
    height: 80px;
    flex-direction: inherit;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 300px;
    background-color: $color-blue-dark;
    border-radius: 0px 0px 18px 18px;
    padding-top: 10px;
    bottom: 0px;
    color: $color-white;
    transition-property: bottom, height, border-radius;
    transition-duration: $duration-animation;

    .proyect-title {
      inline-size: 250px;
      overflow-wrap: break-word;
      font-size: large;
      text-transform: uppercase;
      font-weight: bold;
      color: inherit;
    }

    .proyect-description {
      margin-top: 0px;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: small;
      transition-property: white-space;
      transition-duration: $duration-animation;
    }
  }

  .card-buttons {
    padding-bottom: 15px;
    grid-area: footer;
    display: none;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
  }

  &:hover {
    .proyect-information {
      background-color: rgba(3, 0, 27, 0.274);
      justify-items: center;
      justify-content: center;
      border-radius: 18px;
      backdrop-filter: blur(10px);
      height: 100%;
      bottom: 0px;
      color: $color-gray-light;

      .proyect-title {
        color: $color-blue;
      }

      .proyect-description {
        inline-size: 250px;
        white-space: break-spaces;
        overflow: visible;
        overflow-wrap: break-word;
        text-overflow: initial;

      }
    }

    .card-buttons {
      display: flex;
    }
  }
}
