.skill-card{
  max-height: 70px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 50px;
    transition-property: height;
    transition-duration: 0.3s;
    &:hover{
      height: 70px;
    }
  }
}
