
@import './assets/styles/media';
@import './assets/styles/breakpoint';
@import './assets/styles/fonts';
@import './assets/styles/color-variables.scss';
@import './assets/styles/navbar.scss';
@import './assets/styles/home.scss';


/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
}

body{
  margin: 0;
  font-family: Poppins;
  background-color: $color-background;
}
h1,h3{
  margin: 0px;
  color: $color-white;

}
h1{
  font-weight: bolder;
  font-size: 4em;
}

app-landing-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
.container{
}

