$color-primary: #212121;
$color-primary-opacity: #30322a10;
$color-secondary: rgba(80, 80, 80, 0.36);
$color-secondary-no-degrade: rgba(80, 80, 80, 1);
$color-background: #212121;
$color-black-inactive: rgba(0, 0, 0, 0.64);
$color-black-opacity: rgba(0, 0, 0, 0.25);
$color-black-opacity-transparent: rgba(0, 0, 0, 0.3);
$color-blue: #4c70ef;
$color-gray: #9e9e9e;
$color-gray-light: #dcdcdc;
$color-blue-dark: #292c36;
$color-blue-light: #558fff;
$color-white: white;

:root {
  --colorPrimary: $color-primary;
}

.color-blue {
  color: $color-blue;
}

.color-gray {
  color: $color-gray;
}

.color-gray-light {
  color: $color-gray-light;
}

.color-blue-dark {
  color: $color-blue-dark;
}

.color-blue-light {
  color: $color-blue-light;
}

.color-white {
  color: $color-white;
}
