app-proyects{
  display:flex;
  width: 100%;
  justify-content: center;
  position:relative;
  height: 100vh;
  @include md{
    height: fit-content;
    margin-bottom: 50vh;
  }
}

.proyects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  .proyects-title{
    margin-bottom: 32px;
  }
  .proyects-porfolio{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    .proyects-card{
      margin: 20px;
    }
  }
}
