app-skills{
  display: flex;
  justify-content: center;
  width: 100% !important;
  height: fit-content;
  min-height: 100vh;
}

.skills-container{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 90%;
  position: relative;
  .skills-technologies{
    width: 100%;
    @include md {
      height:fit-content;
      max-height: 300px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    // justify-items: center;
    align-items: center;
    position:relative;
    max-height: min-content;
    .skills-card{
      position:relative;
      margin: 10px;
    }

    margin-top: 30px;
  }
}
